Library/
Temp/
UnityPackageManager/
.vs/
/
*.csproj
*.sln
Packages/manifest.json
obj/
Logs/Packages-Update.log
UIElementsSchema/
AssetBundles/
OutPut/
PlayerOutPut/
.gradle/
Assets/XLua/
Assets/StreamingAssets/
PersistentDatas/
client_resource/
